body {
  background-color: royalBlue;
}
h1
{
  color: indigo;
  text-align: center;
  font-family: Impact;
  font-size: 50px;
}
#tablep
{
border-style: dotted;
border-width: 1px;
border-color: cyan;
text-align: center;
margin-left: auto;
margin-right: auto;
height: 30%;

}
table, th, td {
  border: 1px solid cyan
}
th
{
  font-family: monospace;
  font-size: 15px;
  font-weight: 700px;
  text-align: center;
  color: darkGreen;
}
td
{
  font-family: courier, arial;
  font-size: 15px;
  font-weight: 700;
  color:darkBlue;
  text-align: center;
}
footer
{
  text-align: center;
  color: hotPink;
  font-size: 40px;
  font-family: times;
}
